$font-weight-normal: 400;

// Make sheet compatible with bs4
$font-size-medium: 24px!default;
$font-size-small: 18px!default;
$font-size-large: 26px!default;
$screen-md: 1024px!default;
$screen-sm: 768px !default;
$screen-sm-max: $screen-sm - 1!default;
$screen-xs: 480px !default;
$screen-xs-max: $screen-xs -1 !default;

.highlight-yellow{
  background-image: url('/assets/img/yellow-highlight.png');
  background-color:transparent;
  background-size: 100% 100%;
}
.pricelist .highlight-yellow{
  padding: 9px 26px;
}


.product-options-cta{
  height:100px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;

  .cta-button{
    width: 95%;
    position:relative;
    right:44px;
    text-align:center;

    span{
      white-space:nowrap;
      text-indent:70px;

      @media screen and (max-width:430px){
        text-indent:70px;
      }
    }
  }

  .seal-wrapper{
    position:relative;
    right:-50px;
  }
  .seal {
    width: 90px;
    height: 90px;
    display: block;
    position: relative;
    margin: 0!important;
    z-index: 1;
  }
}


.purchase-options-new-cta{
  margin-top:50px;
  overflow: visible;

  .product-title{
    margin: 5px;
  }

  .most-popular{
    margin-top:-60px;
    width:auto;
  }
  .product-image{
      position: relative;
      height: 100%;

      img{
        // height:auto;
        // display:block;
        // margin:auto;
        // width:200px;
        // max-width:80%;
        margin:auto;

        &[src*="AP-"],
        &[src*="AlgaeCal_F"] {
          max-width: 60%;
        }
        &[src*="APSB-11-1"] {
          max-width: 80%;
        }
      }

  }  
  
  .product-box-wrapper{
    margin:20px auto;
    .dollar-sign{ vertical-align:super; font-size:70%;  }

    padding: 3px 8px 8px;

    &.most-popular{
      //margin-top: 0; padding: 3px 8px 8px;
      background-color: $algaecal-blue-enhanced;
      box-shadow: -1px 0px 13px 0px rgba(100, 100, 100, 0.75);
      overflow: hidden;
    }

    #bundle-product-name{
      color: $black;
      font-weight:$font-weight-heavy;
    }
    .bundle-product-description{
      font-weight:$font-weight-normal;
      font-size:20px;
      color:$algaecal-blue-enhanced;
      margin:4px;
    }
    .most-popular-label{
      text-transform:uppercase;
      color: $white;
    }

    .product-box{
      display:flex;
      flex-direction:column;
      justify-content: space-between;
      padding: 10px 0;
      border-radius:0;
      background-color:white;
      box-shadow: -1px 0px 13px 0px rgba(100,100,100,0.75);
      color: $black;
      text-align:center;

      h3{
        @extend #bundle-product-name;
      }

      .price{
        .currency{
          padding-left: .25em;
          transform: translateY(-22%);
          display: inline-block;
          text-decoration: underline;
          font-size:$font-size-small;
        }

        font-size: $font-size-large*1.5;
        color: $black;
        font-weight:$font-weight-heavy;
        line-height: $font-size-large*0.8;

        @include media-breakpoint-down(sm){
          font-size: 1.8rem;
        }
      }

      .price-per-day{
        @extend .highlight-yellow;
        font-size: $font-size-medium*.8;
        font-weight: $font-weight-bold;
        .amount,.dollar-sign{ font-weight:$font-weight-heavy;}

      }
    }

    .cost {

      &:before {
        content: '\0024';
        font-size: 70%;
        vertical-align: super;
      }
    }

    .del {
      position: relative;

      &:after{
          background: url('//www.algaecal.com/wp-content/themes/algaecal/img/line.png') center center no-repeat;
          background-size: 100% 50%;
          bottom: 0;
          content: '';
          display: block;
          left: .5em;
          position: absolute;
          right: 0;
          top: 0;
      }
    }

    .usd {
      position: relative;

      &:after {
        content: 'usd';
        display: inline-block;
        font-size: .75rem;
        height: .75rem;
        left: 100%;
        line-height: 1;
        margin: auto;
        margin-left: 2px;
        position: absolute;
        text-decoration: underline;
        text-transform: uppercase;
        top: 50%;
        transform: translate(0,-35%);
      }
    }

    .percent-off{
      background-color: $algaecal-orange;
      color:$white;
      height: 70px;
      width: 70px;
      border-radius: 200px;
      position:absolute;
      top:30px;
      right:20%;
      box-shadow: -1px 0px 13px 0px rgba(100,100,100,0.75);

      .label {
        font-size:16px;
        font-weight: bold;
        line-height: 1;
        position:absolute;
        text-transform: uppercase;
        top:50%;
        transform: translate(0,-50%);
        width: 100%;

        .amount{ 
          font-size:135%; 
          display: block;
        }

        br {
          display: none;
        }
      }

      @media screen and (max-width: $screen-sm-max){
        // top: -46px;
        // right: 67px;
      }
      @media screen and (max-width: $screen-xs-max){
        // top: -60px;
      }
    }
    .percent-off[data-total-savings-amount="0"] {
      display: none;
    }

    .you-save{
        color: red;
        font-weight: bold;
        margin: 0px auto 10px;
        line-height: 1.2em;
        font-size: 1.2em;
    }
  }

  .product-box-wrapper.most-popular{ margin-top:-11px; }

  .most-popular{
    .percent-off{
      top:30px;
      @media screen and (max-width: $screen-xs-max){
          top: 20px;
      }
    }
  }
}

.three-by-cta {
  .percent-off{
    transform:translateX(70%);
  }
}

.product-box-wrapper{
  max-width: 400px;
}

@media screen and (max-width: $screen-sm) {
  .product-box-wrapper {
    margin: auto !important;
  }
}

$pricelist-height: 240px;
$header-height: 100px;

.prices-horizontal{
}

.bundle-container{
  margin-top:35px;
}
.container-header{

  margin: 10px 0 0;
  padding: 1px 11px 1px;

  h2{
    color:$white;
    text-align:center;
  }

  &.feature{
    background-color: $algaecal-green!important;
  }
}

.pricelist{
  padding-left: 0;
  padding-right: 0;

  .bonegrowthguarantee{
    margin-bottom:-20px;
    margin-left:-23px;
    margin-top:-37px;
    z-index:100;
  }

  .btn{

  }

  header{
    background-color: $algaecal-blue!important;
  }


}
.feature{
  background-color: $algaecal-green!important;
}

.cell{
  height: $pricelist-height;
  text-align: center;
  position:relative;

  strong{
    font-size:1.2em;
  }
  .inner-cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
  }
  img{
    max-height: $pricelist-height;
    max-width: 70%;
    margin: auto;
  }

  .bonegrowthguarantee{
    position:relative;
  }

}

.bundle-container{
  .container-header{
    color: white;
    padding: 0 0 .2em;
  }
  padding: .6em;
  border-radius: 10px 6px 6px 10px;
  cursor: pointer;

  background-color: $algaecal-blue;

  .feature{
    background-color: $algaecal-green!important;
  }

  .pricelist{
    background-color: white;
  }
}

//.pricelist .product-image{
//  max-height: $pricelist-height - 10px;
//  max-width: 100%;
//}

.savings{
  color: $algaecal-red-lighter;
  font-weight:700;
  margin: 4px 10px 0 0;
  font-size: $font-size-large*.85;
}

.most-popular{
  display: block;
  margin: auto;
  width: 209px;
  line-height: 2;
  color: #666;
  background: $algaecal-yellow url('../assets/img/redline.png') no-repeat 48% 82%;
  background-size: 145px 8px;
}

@media screen and (max-width: $screen-sm){
  .pricelist{
    .cell{
        height: auto;
        display:block;
        position:static;
    }
    .inner-cell{
      position: static;
      display:block;
      width:auto;
      transform:none!important;
    }
  }
}
