.social-proof{
  //background-color:#f7f7f7;
  //margin-top: 4.5em;
  font-size:14px;
  text-align:center;

  h5{
    font-weight: 700;
  }

  .title-bar{
    margin: 0 0 .3em;
    //background-color:$gray-dark;

    h2{
      //color: $white;
      font-weight:700;
      text-align:left;
    }
  }

  img{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100px;
  }
}

.container.references {
  & > .row {
    & > .col-sm-10 {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}

.social-proof-new {
  h2 {
    margin: 2em 0 1em;
  }
  img {
    box-shadow: 0 0 1.5em rgba(0,0,0,.15);
    max-height: none;
  }

  @include media-breakpoint-down(sm) {
    .col-6 {
      padding-bottom: 14px;

      &:nth-child(even) {
        padding-right: 7px;
      }
      &:nth-child(odd) {
        padding-left: 7px;
      }
    }
  }
}

.references-partial {
  h3 {
    margin-bottom: 1em;
  }
  a {
    text-decoration: underline;
  }
}

.product-guarantee {
  p {
    font-size: $font-size-sm;
  }

  .round {
    border-radius: 50%;
    height: 50%;
    float: right;
  }
}